:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #242424;

  /*background: linear-gradient(45deg, rgb(255, 0, 0), #FFA500, rgb(202, 0, 152), #ffffff);*/
  background: black;
  background-size: 500% 500%;
  animation: shiftingColors 5s ease infinite;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Open Sans", sans-serif;
  text-shadow: 10px solid red;
  place-items: center;
  display: grid;
  margin: 0;
}

h1 {
  font-size: 2.5 em;
  font-weight: 500;
  text-shadow: 0 0 5px black;
  /*-webkit-text-stroke: 1px black;  width and color */
}

p {
  font-size: 24px;
  font-weight: 300;
  /*-webkit-text-stroke: 1px black;  width and color */
  text-shadow: 0 0 5px black;
}

@keyframes shiftingColors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

canvas {
  border: 4px solid rgb(255, 255, 255);
  background: linear-gradient(270deg, #0fffc1, #7e0fff, #ff00a6, #ffa500);
  background-size: 500% 500%;
  animation: shiftingColors 10s ease infinite;
  /*filter: blur(0.5px); carefull with this as it messes with the internal canvas!*/
  box-shadow: 0 0 25px 5px rgba(255, 255, 255, 1);
}

#controls {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#controls p {
  margin-bottom: 0px;
  margin-top: 15px;
}



nav {
  /*background: linear-gradient(to bottom, rgba(51, 51, 51,1) 0%, rgba(51, 51, 51, 0) 100%);*/
  color: #fff;
  width: 100%;
  position:fixed;
  top: 0;
  text-shadow: 0 0 5px black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  color: rgb(255, 255, 0);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-left: auto;
  align-items: center;
}

.nav-list img{
  width: 30px;
  align-items: center;
  display: block;
  border-radius: 50%;  /* Make the image circular */
  animation: shadowGradient 3s infinite;
}

@keyframes shadowGradient {
  0% {
      box-shadow: 0px 0px 20px rgba(255, 0, 0, 1), 0px 0px 30px rgba(255, 0, 0, 1);  /* Red shadow with glow */
  }
  33% {
      box-shadow: 0px 0px 20px rgba(0, 255, 0, 1), 0px 0px 30px rgba(0, 255, 0, 1);  /* Green shadow with glow */
  }
  66% {
      box-shadow: 0px 0px 20px rgba(0, 0, 255, 1), 0px 0px 30px rgba(0, 0, 255, 1);  /* Blue shadow with glow */
  }
  100% {
      box-shadow: 0px 0px 20px rgba(255, 0, 0, 1), 0px 0px 30px rgba(255, 0, 0, 1);  /* Back to Red shadow with glow */
  }
}


.nav-item {
  display: inline;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #00eaff;
}