:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #242424;

  background:linear-gradient(45deg, hsl(165, 100%, 53%), #3c5fff, #ff41bc, #ffb833);
  background-size: 100% 100%;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Open Sans", sans-serif;
  text-shadow: 10px solid red;
  place-items: center;
  display: grid;
  margin: 0;
}

h1 {
  font-size: 2.5 em;
  font-weight: 500;
  text-shadow: 0 0 5px black;
  /*-webkit-text-stroke: 1px black;  width and color */
}

p {
  font-size: 24px;
  font-weight: 300;
  /*-webkit-text-stroke: 1px black;  width and color */
  text-shadow: 0 0 5px black;
}

@keyframes shiftingColors {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

canvas {
  border: 4px solid rgb(255, 255, 255);
  background:linear-gradient(270deg, #0fffc1, #7e0fff, #ff00a6, #ffa500);
  background-size: 500% 500%;
  animation: shiftingColors 10s ease infinite;
  /*filter: blur(0.5px); carefull with this as it messes with the internal canvas!*/
  box-shadow: 0 0 25px 5px rgba(255, 255, 255, 1);
}

#controls {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#controls p {
  margin-bottom: 0px;
  margin-top: 15px;
}
